<div class="container">
    <div class="form-wrapper">
        <div class="header">
            <h1>Create Account</h1>
        </div>
        <form>
            <div class="input-wrapper">
                <input type="text" placeholder="First Name">
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Last Name">
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Username">
            </div>
            <div class="input-wrapper">
                <input type="email" placeholder="E-mail">
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Phone Number">
            </div>
            <div class="input-wrapper">
                <input type="password" placeholder="Password">
            </div>
            <div class="input-wrapper">
                <input type="password" placeholder="Password Verification">
            </div>

            <div class="actions">
                <div class="checkbox-wrapper">
                    <label><input type="checkbox" formControlName="profile_type"> Are you an Artist?</label>
                </div>
                <div class="button-wrapper">
                    <button type="submit">Start Listening</button>
                </div>
            </div>
        </form>
    </div>
</div>